<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="lib" transaction-type="RESOURCE_LOCAL">

        <class>com.company.lib.entity.Reader</class>
        <class>com.company.lib.entity.Book</class>
        <class>com.company.lib.entity.Employee</class>
        <class>com.company.lib.entity.Library</class>
        <class>com.company.lib.entity.BookCard</class>
        <class>com.company.lib.entity.ReaderCard</class>
    </persistence-unit>
</persistence>
